.shadowXs {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.shadowSm {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);
}
.shadowMd {
  box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06),
    0px 4px 8px -2px rgba(16, 24, 40, 0.1);
}
.shadowLg {
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),
    0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}
.shadowXl {
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03),
    0px 20px 24px -4px rgba(16, 24, 40, 0.08);
}
.shadow2Xl {
  box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
}
.shadow3Xl {
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
}
.ringBrandShadowXs {
  box-shadow: 0px 0px 0px 2px var(--shadow-color),
    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.ringGrayShadowXs {
  box-shadow: 0px 0px 0px 2px rgba(204, 204, 204, 0.32),
    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.ringErrorShadowXs {
  box-shadow: 0px 0px 0px 2px rgba(240, 68, 56, 0.24),
    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.ringGreenShadowXs {
  box-shadow: 0px 0px 0px 2px rgba(31, 145, 136, 0.24),
    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.shawdowFocusRing {
  @extend .ringBrandShadowXs;
}
.shadowBottomsheet {
  box-shadow: 0px -1px 2px 0px rgba(16, 24, 40, 0.06),
    0px -1px 3px 0px rgba(16, 24, 40, 0.1);
}

.shadowCard {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.shadowIcon {
  box-shadow: 0px 0px 11px 0px rgba(125, 125, 125, 0.6) inset;
}

.innerShadowIcon {
  filter: drop-shadow(0px 4px 11px rgba(224, 224, 224, 0.77));
}

.footerShadow {
  box-shadow: 0px -1px 2px 0px #1018280f, 0px -1px 3px 0px #1018281a;
}
