@use '../variables/spacing.scss' as spacing;

.width0 {
  width: spacing.$space0;
}

.width2 {
  width: spacing.$space2;
}

.width4 {
  width: spacing.$space4;
}

.width6 {
  width: spacing.$space6;
}

.width8 {
  width: spacing.$space8;
}

.width12 {
  width: spacing.$space12;
}

.width16 {
  width: spacing.$space16;
}

.width20 {
  width: spacing.$space20;
}

.width24 {
  width: spacing.$space24;
}

.width32 {
  width: spacing.$space32;
}

.width40 {
  width: spacing.$space40;
}

.width48 {
  width: spacing.$space48;
}

.width64 {
  width: spacing.$space64;
}

.width80 {
  width: spacing.$space80;
}

.width96 {
  width: spacing.$space96;
}

.width128 {
  width: spacing.$space128;
}

.width160 {
  width: spacing.$space160;
}

.width192 {
  width: spacing.$space192;
}

.width224 {
  width: spacing.$space224;
}

.width256 {
  width: spacing.$space256;
}

.width320 {
  width: spacing.$space320;
}

.width384 {
  width: spacing.$space384;
}

.width480 {
  width: spacing.$space480;
}

.width560 {
  width: spacing.$space560;
}

.width640 {
  width: spacing.$space640;
}

.width720 {
  width: spacing.$space720;
}

.width768 {
  width: spacing.$space768;
}

.width1024 {
  width: spacing.$space1024;
}

.width1280 {
  width: spacing.$space1280;
}

.width1440 {
  width: spacing.$space1440;
}

.width1600 {
  width: spacing.$space1600;
}

.width1920 {
  width: spacing.$space1920;
}
