$space0: 0px;
$space1: 1px;
$space2: 2px;
$space4: 4px;
$space5: 5px;
$space6: 6px;
$space7: 7px;
$space8: 8px;
$space10: 10px;
$space11: 11px;
$space12: 12px;
$space14: 14px;
$space15: 15px;
$space16: 16px;
$space18: 18px;
$space20: 20px;
$space21: 21px;
$space22: 22px;
$space24: 24px;
$space25: 25px;
$space26: 26px;
$space28: 28px;
$space29: 29px;
$space30: 30px;
$space32: 32px;
$space34: 34px;
$space36: 36px;
$space37: 37px;
$space40: 40px;
$space42: 42px;
$space43: 43px;
$space44: 44px;
$space48: 48px;
$space50: 50px;
$space52: 52px;
$space56: 56px;
$space58: 58px;
$space60: 60px;
$space62: 62px;
$space64: 64px;
$space65: 65px;
$space68: 68px;
$space70: 70px;
$space72: 72px;
$space73: 73px;
$space74: 74px;
$space75: 75px;
$space78: 78px;
$space80: 80px;
$space82: 82px;
$space86: 86px;
$space88: 88px;
$space96: 96px;
$space100: 100px;
$space102: 102px;
$space104: 104px;
$space106: 106px;
$space112: 112px;
$space115: 115px;
$space120: 120px;
$space125: 125px;
$space128: 128px;
$space132: 132px;
$space136: 136px;
$space140: 140px;
$space146: 146px;
$space150: 150px;
$space158: 158px;
$space160: 160px;
$space165: 165px;
$space168: 168px;
$space170: 170px;
$space172: 172px;
$space174: 174px;
$space175: 175px;
$space180: 180px;
$space182: 182px;
$space186: 186px;
$space188: 188px;
$space192: 192px;
$space200: 200px;
$space202: 202px;
$space206: 206px;
$space210: 210px;
$space220: 220px;
$space224: 224px;
$space230: 230px;
$space236: 236px;
$space240: 240px;
$space246: 246px;
$space248: 248px;
$space252: 252px;
$space256: 256px;
$space264: 264px;
$space268: 268px;
$space275: 275px;
$space280: 280px;
$space300: 300px;
$space320: 320px;
$space326: 326px;
$space328: 328px;
$space340: 340px;
$space344: 344px;
$space346: 346px;
$space352: 352px;
$space360: 360px;
$space380: 380px;
$space384: 384px;
$space392: 392px;
$space400: 400px;
$space432: 432px;
$space440: 440px;
$space456: 456px;
$space480: 480px;
$space490: 490px;
$space496: 496px;
$space500: 500px;
$space522: 522px;
$space536: 536px;
$space540: 540px;
$space544: 544px;
$space550: 550px;
$space560: 560px;
$space564: 564px;
$space568: 568px;
$space575: 575px;
$space600: 600px;
$space620: 620px;
$space624: 624px;
$space640: 640px;
$space680: 680px;
$space694: 694px;
$space720: 720px;
$space768: 768px;
$space780: 780px;
$space800: 800px;
$space840: 840px;
$space850: 850px;
$space880: 880px;
$space960: 960px;
$space1024: 1024px;
$space1072: 1072px;
$space1240: 1240px;
$space1280: 1280px;
$space1440: 1440px;
$space1600: 1600px;
$space1920: 1920px;

$spaceNone: $space0;
$spaceXxs: $space2;
$spaceXs: $space4;
$spaceSm: $space6;
$spaceMd: $space8;
$spaceLg: $space12;
$spaceXl: $space16;
$space3Xl: $space24;
$space4Xl: $space32;
$space6Xl: $space48;
$space7Xl: $space64;
$space8Xl: $space80;
$space9Xl: $space96;

// width of the container
$containerMaxWidthDesktop: $space1280;

// padding of the container
$containerPaddingDesktop: $space32;

$onboardingApplicantHeader: $space60;

$mobileHeader: $space56;
$mobileBottomNavbar: $space72;

// negative padding to handle special case
$negativeSpace4: -4px;
$negativeSpace8: -8px;
$negativeSpace16: -16px;
$negativeSpace20: -20px;
$negativeSpace28: -28px;
$negativeSpace38: -38px;
$negativeSpace136: -136px;
$negativeSpace200: -200px;
